$font-family-sans-serif:
  "Platform Emoji", "Hanken Grotesk", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
$font-family-monospace:
  "Platform Emoji", "JetBrains Mono", "Consolas", "Monaco", monospace,
  "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
$font-family-base: $font-family-sans-serif;

$link-decoration: none;
$link-hover-decoration: underline;

$toast-max-width: 380px;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

:root {
  --bs-toast-max-width: #{$toast-max-width};
}
